syntax: glob
*.o
*.pyc
*.pyo
.pydevproject
.project
projects
develop-eggs
eggs
parts
.installed.cfg
*.ini
pypesvds.log
data
bin/buildout
bin/paster
bin/python
core/pypes.egg-info
ui/*.egg
ui/pypesvds.egg-info
etc/transactions.xml
nbproject/*
sink
/plugins
etc/trnews.xml
ui/dist
ui/build
core/dist
core/build

# switch to regexp syntax.
syntax: regexp
^plugins
