[buildout]
develop = core ui
parts = eggs

[eggs]
recipe = zc.recipe.egg:scripts
interpreter = python
eggs = pypesvds
       pastescript

[release]
recipe = zc.recipe.egg:script 
eggs = zc.sourcerelease 

