<html>
    <head>
        <title>Sign In</title>
        <link rel="icon" type="image/png" href="/images/favicon.png">
        <link href="/css/login.css" media="all" rel="stylesheet" type="text/css">
        <link href="/css/button.css" media="all" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div class="wrap">  
            <center><img src="/images/PypesLogo.png" /></center>
            <div class="box_wrapper">  
                <div class="textbox_outer">    
                    <form action="/" method="post" enctype="multipart/form-data">
                        <div class="labels">  
                            <label for="username">Name:</label>  
                        </div>  
                        <input class="textboxes" type="text" id="username" name="username">
                        <div class="labels">  
                            <label for="password">Password:</label>  
                        </div>  
                        <input class="textboxes" type="password" id="password" name="password"><br /><br /> 
                        <span class="button"><button type="submit" value="Sign In">Sign In</button></span>
                    </form>
                </div> 
            </div>  
        </div> 
    </body>

</html> 

